
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="page-header" style="text-align: center;">
        <h3 class="page-title" style="width: 100%;">
            Change Password
        </h3>
        <br/>
        <br/>
    </div>

    <div class="row">
        <div class="col-sm-6 offset-3">
            <div class="card">
                <div class="card-body">
                    <form class="form-sample" id="change-password-form" method="post" autocomplete="off" data-parsley-validate="true">
                        <div class="alert alert-danger error_msg" style="display: none;">This is error</div>

                        <div class="form-group">
                            <label for="txtOldPassword">Old Password</label>
                            <input type="password" class="form-control" id="txtOldPassword" name="txtOldPassword" required />
                        </div>

                        <div class="form-group">
                            <label for="txtNewPassword">New Password </label>
                            <input type="password" class="form-control" id="txtNewPassword" name="txtNewPassword" required minlength="6" />
                        </div>

                        <div class="form-group">
                            <label for="txtConfirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="txtConfirmPassword" name="txtConfirmPassword" required data-parsley-equalto="#txtNewPassword" data-parsley-error-message="password and confirm password should be same" />
                        </div>

                        <div class="fc-button-group">
                            <button type="button" id="btnChangePassword" class="btn btn-success">Change Password</button>
                            <button type="button" class="btn btn-light" onclick="window.location = '/@(BusinessLogic.clsSession.LoginType == 1 ? "admin" : "partner")/dashboard';">Cancel</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>


@section FooterSection {

    <script>

        $("#btnChangePassword").on('click', function (e) {
            e.preventDefault();

            if ($('#change-password-form').parsley().validate() == false) { return false; }

            $("#btnChangePassword").attr('disabled', true);
            $("#btnChangePassword").html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submitting...`);

            $.ajax({
                type: "POST",
                url: "/Admin/ChangePasswordRequest",
                data: {
                    'old_password': $("#txtOldPassword").val(),
                    'new_password': $("#txtNewPassword").val()
                },
                success: function (data) {

                    if (data.ErrorCode == "000") {

                        SwalSuccesswithRedirect('Success!', 'Password has been changed successfully.', "/@(BusinessLogic.clsSession.LoginType == 1 ? "admin" : "partner")/dashboard", undefined);
                        $(".error_msg").hide();
                    } else if (data.ErrorCode == "001") {
                        $(".error_msg").text('invalid old password').show();
                    }
                    else {
                        $(".error_msg").text('unhandled exception').show();
                    }
                },
                failure: function (data) {
                    $(".error_msg").text('unhandled exception').show();
                },
                complete: function () {
                    //console.log('i am in always');
                    $("#btnChangePassword").removeAttr('disabled');
                    $("#btnChangePassword").html('Change Password');
                }
            });
        });

    </script>

}