
@{
    ViewBag.Title = "LiveVideosPending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            Pending Live Videos
        </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Live Videos</a></li>
                <li class="breadcrumb-item active" aria-current="page">Pending Live Videos</li>
            </ol>
        </nav>
    </div>
    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-sm-12">

                    @if (BusinessLogic.clsSession.LoginType == 1)
                    {
                        <button id="btn_approve" class="btn btn-info btn-sm" style="width: 100px;" disabled><i class="fa fa-check"></i> Approve</button>
                        <button id="btn_reject" class="btn btn-danger btn-sm" style="width: 100px;" disabled><i class="fa fa-times"></i> Reject</button>
                    }

                    <a href="@(BusinessLogic.clsSession.LoginType == 1 ? "/admin/dashboard" : "/partner/dashboard")" class="btn btn-secondary btn-sm" style="width: 100px;"><i class="fa fa-arrow-circle-left"></i> Back</a>

                    <div class="float-right">
                        <a class="btn btn-success btn-sm" id="btn_current" style="width: 100px;" href="#">Pending</a>
                        <a class="btn btn-outline-danger btn-sm" id="btn_rejected" style="width: 100px;" href="#">Reject</a>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-12">
                    <div class="table-responsive table-current-listing">
                        <table id="current-listing" class="table table-striped table-hover table-bordered" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Created By</th>
                                    <th>Created On</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table-responsive table-reject-listing" style="display: none;">
                        <table id="reject-listing" class="table table-striped table-hover table-bordered" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Created By</th>
                                    <th>Created On</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section FooterSection {

    <script>

        var current_table = bindGrid($('#current-listing'), '/Admin/PendingLiveVideos');
        var reject_table = bindGrid($('#reject-listing'), '/Admin/RejectLiveVideos');

        $('#current-listing tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');

                $("#btn_approve").attr('disabled', 'disabled');
                $("#btn_reject").attr('disabled', 'disabled');
            }
            else {
                current_table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');

                $("#btn_approve").removeAttr('disabled');
                $("#btn_reject").removeAttr('disabled');
            }
        });

        $("#btn_current").on("click", function (e) {
            e.preventDefault();

            $(".table-reject-listing").hide();
            $(".table-current-listing").fadeIn();

            $("#btn_current").removeClass('btn-outline-success').addClass('btn-success');
            $("#btn_rejected").removeClass('btn-danger').addClass('btn-outline-danger');

            $("#btn_approve").show();
            $("#btn_reject").show();

        });

        $("#btn_rejected").on("click", function (e) {
            e.preventDefault();

            $(".table-current-listing").hide();
            $(".table-reject-listing").fadeIn();

            $("#btn_current").removeClass('btn-success').addClass('btn-outline-success');
            $("#btn_rejected").removeClass('btn-outline-danger').addClass('btn-danger');

            $("#btn_approve").hide();
            $("#btn_reject").hide();
        });

        $("#btn_approve").on("click", function (e) {
            e.preventDefault();
            var id = current_table.$('tr.selected')[0].id;
            pendingLiveTvStatus(id, 1, "/Admin/StatusLiveVideos", "/admin/livevideospending");
        });

        $("#btn_reject").on("click", function (e) {
            e.preventDefault();
            var id = current_table.$('tr.selected')[0].id;
            pendingLiveTvStatus(id, 3, "/Admin/StatusLiveVideos", "/admin/livevideospending");
        });

        function bindGrid(table, url) {
            return table.DataTable({
                "ajax": {
                    'type': 'POST',
                    'url': url,
                    'data': {},
                },
                'processing': true,
                'language': {
                    'loadingRecords': '&nbsp;',
                    'processing': '<div class="spinner"><i class="fas fa-spinner fa-spin"></i> Loading...</div>'
                },
                "drawCallback": function () {
                    $('.dataTables_paginate > .pagination').addClass('rounded-flat');
                },
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }],
                "columns": [
                    { "data": "Id" },
                    { "data": "Title" },
                    { "data": "CreatedBy" },
                    {
                        "data": "CreatedOn",
                        "render": function (data, type, row, meta) {
                            return getDataTableDate(data);
                        }
                    }
                ]
            });
        }

    </script>

}

