
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<section class="searchStoreName">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="video-library">
    <div class="container">

        <div class="row">
            <div class="col">
                <h1>About Us</h1>

                <p>NetFive is an app that brings you the best Islamic content around the world.Looking for an app that covers every single domain of Islamic media, like Dars, Manqabat, Nohay, Sermons, Tafseer, Youth Programs, Game Shows, Live TV Channels, Special Festive Islamic Content?</p>
                <p>NetFive covers it all. We work every day to bring you the best Islamic content around the world based on what you like to watch so you enjoy while you traveling, commuting, or just taking a break.</p>
                <p>We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, the terms used in this Privacy Policy have the same meanings as in our Terms and Conditions.</p>

                <h2>What you’ll get with NetFive:</h2>
                <ul>
                    <li>We add TV shows and Islamic movies every time, so you could have easy access to your favorite content and enjoy streaming on your smart phone and smart TV. </li>
                    <li>It keeps recommending shows as per your watch and search history. </li>
                    <li>Exclusive content access for Premium subscribers.</li>
                    <li>Have a safe and pious programs to brighten up your faith.</li>
                    <li>Live TV channels at one place.</li>
                    <li>Religious cartoons for kids.</li>
                    <li>Games shows.</li>
                    <li>Talk shows.</li>
                    <li>Shows on current affairs and Islam. </li>
                    <li>And much more. </li>
                </ul>

                <p>NetFive provides media for you and your loved once to engage you for the betterment of both the worlds, for this world and hereafter with the help of teachings of Ahlebait (A.S).</p>

                <p>As media is the source of, correlation of parts in society, education, information, and entertainment. We build an app to give you access to the best Islamic content around the world including exclusive content for our members, like Majalis of well-known khateebs /orators, just sign in for your playlist and daily updates related to your interest!</p>


            </div>
        </div>

    </div>
</section>

<br />

