
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<link rel="stylesheet" href="http://use.fontawesome.com/releases/v5.6.3/css/all.css">

<style>
    .has-error {
        border-color: red !important;
    }
    .alert
    {
        display: none;
    }

    .requirements
    {
        list-style-type: none;
    }

    .wrong .fa-check
    {
        display: none;
    }

    .good .fa-times
    {
        display: none;
    }
</style>

<section class="searchStoreName">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>


<section class="accountSection longForm">
    <div class="accountSectionInner">
        <div class="accountformDetail">
            <form id="myForm" class="needs-validation" novalidate autocomplete="off">

                <div class="contactForm">
                    <h1> CHANGE PASSWORD</h1>

                    <div class="form-group">
                        <label>CURRENT PASSWORD</label>
                        <input type="password" class="form-control" id="txtcurrentpassword" name="txtcurrentpassword" placeholder="Enter current password here" required autocomplete="off">
                        <div class="invalid-feedback">
                            Please choose a old password
                        </div>
                    </div>

                    <div class="form-group">
                        <label>NEW PASSWORD</label>
                        <input type="password" class="form-control" id="txtpassword" name="txtpassword" placeholder="Enter new password here" required autocomplete="off">
                        <div class="invalid-feedback">
                            Please choose a password
                        </div>
                        <div class="alert alert-warning password-alert" role="alert">
                            <ul>
                                <li class="requirements leng"><i class="fas fa-check green-text"></i><i class="fas fa-times red-text"></i> Your password must have at least 8 chars.</li>
                                <li class="requirements big-letter"><i class="fas fa-check green-text"></i><i class="fas fa-times red-text"></i> Your password must have at least 1 big letter.</li>
                                <li class="requirements num"><i class="fas fa-check green-text"></i><i class="fas fa-times red-text"></i> Your password must have at least 1 number.</li>
                                <li class="requirements special-char"><i class="fas fa-check green-text"></i><i class="fas fa-times red-text"></i> Your password must have at least 1 special char.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>CONFIRM PASSWORD</label>
                        <input type="password" class="form-control" id="txtconfirmpassword" name="txtconfirmpassword" placeholder="Enter new password again here" required autocomplete="off">
                        <div class="invalid-feedback">
                            Please choose a confirm password
                        </div>
                    </div>

                    <div class="alert alert-danger" id="invalid_msg" style="display: none;">
                        <strong>All fields are required</strong>
                    </div>

                    <div class="form-group text-right">
                        <button type="button" class="btn btn-red" id="btnSubmit">CHANGE PASSWORD</button>
                        <div class="error_msg" style="display: none; color:red; font-weight:bold;">Kindly enter all data</div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>


<br />



@section FooterSection {

    
    <script src="~/content/web/js/password_validation.js"></script>
    <script>

        $('#btnSubmit').click(function () {

            if ($("#txtcurrentpassword").val().trim() == "" || $("#txtpassword").val().trim() == "" || $("#txtconfirmpassword").val().trim() == "") {
                $("#invalid_msg").show().html("<strong>All fields are required</strong>");
                return false;
            }

            if ($("#txtpassword").val().trim() != $("#txtconfirmpassword").val().trim()) {
                $("#invalid_msg").show().html("<strong>Confirm Password not match</strong>");
                return false;
            }

            if ($("#txtpassword").val().trim() == $("#txtcurrentpassword").val().trim()) {
                $("#invalid_msg").show().html("<strong>Old and new password cannot be same</strong>");
                return false;
            }

            $("#btnSubmit").attr("disabled", true);
            $("#btnSubmit").text("PROCESS..");

            $.ajax({
                type: "POST",
                url: '/Web/ChangePasswordRequest',
                data: {
                    'current_password': $("#txtcurrentpassword").val(),
                    'new_password': $("#txtpassword").val()
                },
                success: function (data) {

                    console.log(data);
                    $("#btnSubmit").text("CHANGE PASSWORD");

                    if (data.ErrorCode == "000") {
                        ToastSuccess('PASSWORD CHANGED', 'Password Changed Successfully..!');
                        setTimeout(function () { window.location.reload(); }, 3000);
                    } else if (data.ErrorCode == "001") {
                        $("#btnSubmit").removeAttr("disabled");
                        $("#invalid_msg").show().html("<strong>Old Password not match</strong>");
                    } else if (data.ErrorCode == "888") {
                        window.location = '/';
                    } else {
                        $("#btnSubmit").removeAttr("disabled");
                        $("#invalid_msg").show().html("<strong>Something gone wrong</strong>");
                    }
                },
                failure: function (data) {
                    console.log("Save failed result :", data);
                },
                complete: function () {

                }
            });

            return false;
        });

    </script>
}

