
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<style>
    .has-error{
        border-color:red!important;
    }
</style>
<section class="searchStoreName">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Contact</h1>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-sm-6">
                <div class="contactForm">
                    <div class="form-group">
                        <label>Full Name</label>
                        <input type="text" class="form-control" name="txtName" id="txtName" placeholder="Enter your full name here">
                        <div class="input-error form-control-input" style="color: Red; display: none;">Name is required</div>
                    </div>
                    <div class="form-group">
                        <label>Email Address</label>
                        <input type="email" class="form-control" name="txtEmail" id="txtEmail" placeholder="Your email address">
                        <div class="input-error form-control-input" style="color: Red; display: none;">Email is required</div>
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="number" class="form-control" name="txtPhone" id="txtPhone" placeholder="Your phone number">
                    </div>
                    <div class="form-group">
                        <label>Subject</label>
                        <input type="text" class="form-control" name="txtSubject" id="txtSubject" placeholder="Purpose of message">
                        <div class="input-error form-control-input" style="color: Red; display: none;">Purpose of message is required</div>
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea rows="8" class="form-control" name="txtMessage" id="txtMessage" placeholder="Enter your message here"></textarea>
                        <div class="input-error form-control-input" style="color: Red; display: none;">Message is required</div>
                    </div>
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-red" id="btnSubmit">Send Message</button>
                        <div class="error_msg" style="display: none; color:red; font-weight:bold;">Kindly enter all data</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="contactInform">
                    <div class="contactInformInner" style="display:none;">
                        <h4>ADDRESS:</h4>
                        <p>Street XYZ, Plot 43 46 B, Prestigious Area, Near ABC Building, 12345, Ontario, Canada.</p>
                    </div>
                    <div class="contactInformInner" style="display:none;">
                        <h4>PHONE:</h4>
                        <p>+123 456 78900 <br> +123 456 78900</p>
                    </div>
                    <div class="contactInformInner">
                        <h4>EMAIL:</h4>
                        <p>
                            <a href="#">info@netfive.tv</a>
                            <a href="#">support@netfive.tv</a>
                        </p>
                    </div>
                    <div class="contactInformInner" style="display:none;">
                        <ul class="footerSocialIcon">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />


@section FooterSection {
    <script>

        $('#btnSubmit').click(function () {

            if (Validation()) {

                $("#btnSubmit").attr("disabled", true);
                $("#btnSubmit").text("PROCESS..");

                $.ajax({
                    type: "POST",
                    url: '/Web/ContactUsRequest',
                    data: {
                        'Name': $("#txtName").val(),
                        'Email': $("#txtEmail").val(),
                        'PhoneNo': $("#txtPhone").val(),
                        'Subject': $("#txtSubject").val(),
                        'Message': $("#txtMessage").val(),
                    },
                    success: function (data) {

                        console.log(data);

                        $("#btnSubmit").text("SEND MESSAGE");
                        $("#btnSubmit").attr("disabled", false);

                        if (data.ErrorCode == "000") {

                            $('#txtName').val('');
                            $('#txtEmail').val('');
                            $('#txtPhone').val('');
                            $('#txtSubject').val('');
                            $('#txtMessage').val('');

                            ToastSuccess('MESSAGE', 'Message Send Successfully..!');
                        }
                        else {
                            
                            ToastError('MESSAGE', 'Error Occured..!');
                        }

                    },
                    failure: function (data) {
                        console.log("Save failed result :", data);
                    },
                    complete: function () {

                    }
                });

            }

        });


        function Validation() {

            var hasFocus = false;
            var errCount = 0;

            if ($('#txtName').val() == '') {

                $('#txtName').addClass('has-error');
                $('#txtName').parent().find('.input-error').show().css('display', 'inline-block');

                if (!hasFocus) {
                    $('#txtName').focus();
                    hasFocus = true;
                }
                errCount++;
            }
            else {
                $('#txtName').removeClass('has-error');
                $('#txtName').find('.input-error').hide();
            }

            if ($('#txtEmail').val() == '') {

                $('#txtEmail').addClass('has-error');
                $('#txtEmail').parent().find('.input-error').show().css('display', 'inline-block');

                if (!hasFocus) {
                    $('#txtEmail').focus();
                    hasFocus = true;
                }
                errCount++;
            }
            else {
                $('#txtEmail').removeClass('has-error');
                $('#txtEmail').find('.input-error').hide();
            }

            if ($('#txtSubject').val() == '') {

                $('#txtSubject').addClass('has-error');
                $('#txtSubject').parent().find('.input-error').show().css('display', 'inline-block');

                if (!hasFocus) {
                    $('#txtSubject').focus();
                    hasFocus = true;
                }
                errCount++;
            }
            else {
                $('#txtSubject').removeClass('has-error');
                $('#txtSubject').find('.input-error').hide();
            }

            if ($('#txtMessage').val() == '') {

                $('#txtMessage').addClass('has-error');
                $('#txtSubject').parent().find('.input-error').show().css('display', 'inline-block');

                if (!hasFocus) {
                    $('#txtMessage').focus();
                    hasFocus = true;
                }
                errCount++;
            }
            else {
                $('#txtMessage').removeClass('has-error');
                $('#txtMessage').find('.input-error').hide();
            }

            if (errCount > 0)
                return false;
            else
                return true;

        }

    </script>
}