
@{
    ViewBag.Title = "FAQS";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<section class="searchStoreName">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Faq's</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="error">
    @*<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="errorView">
                    <div class="image">
                        <img src="/content/web/img/404_image.png">
                    </div>
                    <div class="info" style="color:#fff;">
                        <h1>Faq's</h1>
                        <h3>Coming Soon</h3>
                        <p>The link you’re trying is not available.</p>
                        <a href="/" class="btn btn-red">Go Back To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <div class="container">

        <div class="FAQ">
            <h1>Frequently Asked Questions</h1>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-6">
                <div class="faqs-heading">
                    <h2>General Information :</h2>
                </div>

                <br>

                <div class="FAQQuest">
                    <h2>Why NetFive?</h2>
                    <p>NetFive is a platform where you can find Islamic Content like Dars, Manqabat, Nohay, Sermons, Tafseer, Youth Programs, Live TV Channels etc.In the light of teachings of Ahlebait (A.S). Now only this, you can also see Live TV from the related channels.</p>
                </div>

                <div class="FAQQuest">
                    <h2>How can I get started?</h2>
                    <p>Just simply Signup by giving some general information like.Name, Email Address, your location and Phone no. That’s is. Now you can go for the seven days free trial.</p>
                </div>

                <div class="FAQQuest">
                    <h2>Is it for a Specific age group?</h2>
                    <p>No, NetFive is a platform for Islamic content and every one can access without any hesitation to attach himself/herself to the path of success with the help of teachings of Ahlebait (A.S). NetFive also contains programs for children so they can learn Islamic teachings with fun.</p>
                </div>

                <div class="FAQQuest">
                    <h2>Is there any option to share this content with my family or friends?</h2>
                    <p>Yes, you can share your Favourite videos of NetFive with your family or friends by using Share button below video.</p>
                </div>

            </div>

            <div class="col-sm-6">
                <div class="faqs-heading">
                    <h2>Billing and Payment</h2>
                </div>
                <br>

                <div class="FAQQuest">
                    <h2>Is it Paid or Free?</h2>
                    <p>NetFive is a paid Website. But initially on your first signup you can get free trial for Seven Days. After this trial period you just need to pay a small amount to go on.</p>
                </div>

                <div class="FAQQuest">
                    <h2>What Payment Methods do we use?</h2>
                    <p>NetFive uses multiple payment methods as mentioned below.</p>
                    <ul>
                        <li>Visa </li>
                        <li>Master Card </li>
                        <li> Paypal </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</section>

<br />