
@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<section class="error">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="errorView">
                    <div class="image">
                        <img src="/content/web/img/404_image.png">
                    </div>
                    <div class="info" style="color:#fff;">
                        <h1>404 Not Found</h1>
                        <h3>Something went wrong...</h3>
                        <p>The link you’re trying is not available or broken.</p>
                        <a href="/" class="btn btn-red">Go Back To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
