
@{
    ViewBag.Title = "PartnerRequestComplete";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<section class="thankYou">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="thankYouInner">
                    <img src="/content/web/img/thankYouIcon.png">
                    <h2>THANK YOU!</h2>
                    <strong>Thanks for submitting your query to become a Partner with NetFive.
                    It’ll be great to have you on board. Our team will shortly contact you for further process.</strong>
                    @*<p>Your order summary has been sent to your email <a href="#">username@hotmail.com</a></p>*@
                    <div class="orderTrackBtn">
                        <a href="/" class="btn btn-red">Home Page</a>
                        @*<a href="/edit-profile" class="btn btn-red-outline">My Account</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br />

