
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<section class="searchStoreName">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Payment</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<br />
<section class="video-library">
    <div class="container">
        <div class="row">
            <div class="col">

                <h1>Payments</h1>
                <p>"There are numerous payment options to choose from so as to suit everyone’s convenience. It has also been made possible to make single payment for multiple invoices in one go thus saving lots of time of the users. You may also plan to make month end payment for all invoices. This flexibility to be able to pay weekly, monthly or invoice wise is a unique feature that is not available anywhere else."</p>

                <h2>Payment Method:</h2>
                <p>All renowned service providers of Debit Cards and Credit Cards both online as well as off line. Digitizing Lab module has been designed to protect the credit/ debit card information. No Human or robot can fetch or stole your details. Moreover while making the payments through your cards; the user makes the payment by feeding desired information directly with no need to load your credit card details on our website.</p>
                <ul>
                    <li>We accept all major as follow payments:</li>
                    <li>We Accept Visa, MasterCard, American Express, Discover.</li>
                    <li>You can payment in credit card via www.PayPal.com without bank cost.</li>
                    <li>If you would like to pay by bank wire payment please Contact Us.</li>
                    <li>We sent you direct invoice throw PayPal, or email with payment link</li>
                    <li><b>Note</b>: PayPal is our secure gateway processes for Credit Cards. You do not have to join PayPalIn order to pay with your Credit Card, please press the Pay now. If you would like pay in PayPal</li>

                </ul>
            </div>
        </div>
        <br>
        <div class="row">

            <div class="col-sm-2">
            </div>

            <div class="col-sm-1">
                <a href="#"><img src="~/content/web/img/payment-icon/1.png"></a>
            </div>
            <div class="col-sm-1">
                <a href="#"><img src="~/content/web/img/payment-icon/2.png"></a>
            </div>
            <div class="col-sm-1">
                <a href="#"><img src="~/content/web/img/payment-icon/3.png"></a>
            </div>
            <div class="col-sm-1">
                <a href="#"><img src="~/content/web/img/payment-icon/4.png"></a>
            </div>
            <div class="col-sm-1">
                <a href="#"><img src="~/content/web/img/payment-icon/5.png"></a>
            </div>
            <div class="col-sm-1">
                <a href="#"><img src="~/content/web/img/payment-icon/6.png"></a>
            </div>
            <div class="col-sm-1">
                <a href="#"><img src="~/content/web/img/payment-icon/7.png"></a>
            </div>
            <div class="col-sm-2">
            </div>

        </div>
    </div>
</section>

<br />