
@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<section class="searchStoreName">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Pricing</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="error">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="errorView">
                    <div class="image">
                        <img src="/content/web/img/404_image.png">
                    </div>
                    <div class="info" style="color:#fff;">
                        <h1>Price</h1>
                        <h3>Coming Soon</h3>
                        <p>The link you’re trying is not available.</p>
                        <a href="/" class="btn btn-red">Go Back To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br />

