
@{
    ViewBag.Title = "SignupComplete";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<section class="thankYou">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="thankYouInner">
                    <img src="/content/web/img/thankYouIcon.png">
                    <h2>THANK YOU!</h2>
                    <strong>
                        Thank you for choosing NetFive. A Place where you can find Islamic Content like
                        Dars, Manqabat, Nohay, Sermons, Tafseer, Youth Programs, Live TV Channels etc.
                        In the light of teachings of Ahlebait (A.S).
                    </strong>
                    <br />

                    <strong>
                        We love to share content to you and your loved once to engage you for the betterment of both the worlds.
                    </strong>
                    <br />
                    <strong>
                        Enjoy your free seven day's trial.
                    </strong>

                    @*<p>Your order summary has been sent to your email <a href="#">username@hotmail.com</a></p>*@
                    <div class="orderTrackBtn">
                        <a href="/" class="btn btn-red">Home Page</a>
                        <a href="/edit-profile" class="btn btn-red-outline">My Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br />